# =========================================
# General & IDE specific
# =========================================
.DS_Store
*.suo
*.user
.idea/
.vs/

# =========================================
# .NET / C#
# =========================================
bin/
obj/
Properties/launchSettings.json
**/appsettings.Development.json

# =========================================
# Angular / Node
# =========================================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-error.log*
coverage/